*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-column{
    transition: 0.25s linear;
}

.custom-column:hover{
    transform: scale(1.05);   
}

.custom-container{
    width: 70%;
}