*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-card{
    width: 95%;
    border: 1px solid rgb(152, 149, 149);
    height: 400px;
    border-radius: 5px;
    padding: 20px;
    transition: 1.05s linear;
    margin-top: 15px;
}

.custom-card:hover{
    transform: scale(1.05);
}